<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required for local notifications on Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Reschedule notifications after device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Keep CPU awake while delivering notifications -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Request battery optimization exemption for reliable FCM delivery -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <application
        android:label="campusmytra"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
        </activity>

        <!-- Default icon alias (enabled by default) -->
        <activity-alias
            android:name=".MainActivityIconDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Christmas icon -->
        <activity-alias
            android:name=".MainActivityIconChristmas"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_christmas"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Diwali icon -->
        <activity-alias
            android:name=".MainActivityIconDiwali"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_diwali"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Holi icon -->
        <activity-alias
            android:name=".MainActivityIconHoli"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_holi"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- New Year 2027 icon -->
        <activity-alias
            android:name=".MainActivityIconNewYear2027"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_newyear2027"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- New Year 2028 icon -->
        <activity-alias
            android:name=".MainActivityIconNewYear2028"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_newyear2028"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- New Year 2029 icon -->
        <activity-alias
            android:name=".MainActivityIconNewYear2029"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_newyear2029"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- New Year 2030 icon -->
        <activity-alias
            android:name=".MainActivityIconNewYear2030"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_newyear2030"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- New Year 2031 icon -->
        <activity-alias
            android:name=".MainActivityIconNewYear2031"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_newyear2031"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Rakhi icon -->
        <activity-alias
            android:name=".MainActivityIconRakhi"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_rakhi"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Ram Navami icon -->
        <activity-alias
            android:name=".MainActivityIconRamNavami"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ramnavami"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Spring icon -->
        <activity-alias
            android:name=".MainActivityIconSpring"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_spring"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Summers icon -->
        <activity-alias
            android:name=".MainActivityIconSummers"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_summers"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Winters icon -->
        <activity-alias
            android:name=".MainActivityIconWinters"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_winters"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>
</manifest>